### Global
*~
.DS_Store

### build \ make
build/
target/
mods/
logs/

### CMake
CMakeFiles/
CMakeCache.txt
cmake-build-debug/

### JVM
hs_err_pid*

### IntelliJ
.idea/
*.iml
*.iws
*.ipr
out/
gen/

### Netbeans
nbproject/
nbbuild/
dist/
nbdist/
.nb-gradle/
*~.nib

### STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### Xcode
*.xcodeproj

### Eclipse
.project/
.settings/
.metadata/
tmp/
*.tmp
*.bak
*.swp
.loadpath
.recommenders

### Gradle
.gradle/

### bazel
bazel*

### Hexo
Thumbs.db
db.json
*.log
#node_modules/
public/
.deploy*/
